<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:redis.properties" />

    <!--Jedis连接池的相关配置-->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <!--maxTotal 最多的连接connection个数 200-->
        <property name="maxTotal">
            <value>${redis.pool.maxActive}</value>
        </property>
        <!--最大空闲的连接数 50-->
        <property name="maxIdle">
            <value>${redis.pool.maxIdle}</value>
        </property>
        <!--testOnBorrow: 获取连接来使用时，检查一下连接是否可用-->
        <property name="testOnBorrow" value="true"/>
        <!--testOnReturn: 返回连接池时，检测是否可用-->
        <property name="testOnReturn" value="true"/>
    </bean>

    <!--连接池对象  dataSource-->
    <bean id="jedisPool" class="redis.clients.jedis.JedisPool">
        <constructor-arg name="poolConfig" ref="jedisPoolConfig" />
        <constructor-arg name="host" value="${redis.host}" />
        <constructor-arg name="port" value="${redis.port}" type="int" />
        <constructor-arg name="timeout" value="${redis.timeout}" type="int" />
    </bean>
</beans>